patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/best_model_confusion_matrix_test.png
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/best_model_test_results_layer2.npy
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/best_model.pth
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/final_model_confusion_matrix_test.png
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/final_model_test_results_layer2.npy
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/final_model.pth
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/events.out.tfevents.1761507224.histology.468501.0
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/Accuracy_Train/events.out.tfevents.1761507246.histology.468501.3
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/Accuracy_Val/events.out.tfevents.1761507246.histology.468501.4
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_AT_Train/events.out.tfevents.1761507246.histology.468501.9
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_AT_Val/events.out.tfevents.1761507246.histology.468501.10
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_BG_Train/events.out.tfevents.1761507246.histology.468501.11
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_BG_Val/events.out.tfevents.1761507246.histology.468501.12
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_LP_Train/events.out.tfevents.1761507246.histology.468501.13
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_LP_Val/events.out.tfevents.1761507246.histology.468501.14
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_MM_Train/events.out.tfevents.1761507246.histology.468501.15
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_MM_Val/events.out.tfevents.1761507246.histology.468501.16
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_TUM_Train/events.out.tfevents.1761507246.histology.468501.17
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/F1_Score_TUM_Val/events.out.tfevents.1761507246.histology.468501.18
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/Loss_Train/events.out.tfevents.1761507246.histology.468501.1
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/Loss_Val/events.out.tfevents.1761507246.histology.468501.2
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/Macro_F1_Train/events.out.tfevents.1761507246.histology.468501.5
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/Macro_F1_Val/events.out.tfevents.1761507246.histology.468501.6
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/Min_F1_Train/events.out.tfevents.1761507246.histology.468501.7
patch_classification/exps/pretrained_resnet50_training_26-10-25_22:33/tensorboard_logs/Min_F1_Val/events.out.tfevents.1761507246.histology.468501.8
patch_classification/test.ipynb
patch_classification/classes/__pycache__/MetricsTracker.cpython-312.pyc
patch_classification/classes/__pycache__/PatchDataset.cpython-312.pyc
